body {
    margin:0;
    overflow:hidden;
    background:#111;
    color:#f5f5f5;
    font-family: Arial, sans-serif;
    text-align:center;
}

#ui {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:5px;
}

canvas {
    display:block;
    margin:10px auto;
    border:2px solid #555;
    background:#333;
}

#messages {
    max-height:120px;
    overflow-y:auto;
    margin:10px auto;
    padding:5px;
    width:854px;
    background-color:#222;
    border:1px solid #555;
    text-align:left;
    font-size:14px;
}
